
.Footer {
  background: var(--background-color);
  border-top: 1px solid var(--text-color);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, border-color 0.3s;
  
}

.Footer p {
  color: var(--text-color);
  margin: 0;
  font-size: 14px;
}


@media (max-width: 768px) {
  .Footer {
    padding: 15px 10px;
  }

  .Footer p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .Footer {
    padding: 10px 5px;
  }

  .Footer p {
    font-size: 10px;
  }
}
